<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>离岗保密承诺书</title>


    <link href="css/all.css" rel="stylesheet" type="text/css">
    <link href="js/editor/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="js/editor/css/froala_editor.min.css" rel="stylesheet" type="text/css">
</head>

<body style="background-color: #e6ecf5">
	<div class="div_tab01" style="background-color:#FFFFFF">
    <p class="p_but">
        <i class="down_i" ></i><a href="#" class="add_a">导出</a>
        <i class="print_i" ></i><a href="#" class="add_a">打印</a>
   </p>
<p>
    <table data-url="json/data_alae_list.json" id="table" class="table_style" style="margin: 0 auto" ></table>
</p>
</div>

<div class="book_con01">

    <h1 class="book_h01">离岗保密承诺书</h1>
    
    <p class="book_p">
        <table class="book_table" border="1" cellpadding="10">
<div id="shicdiv">
<blockquote class="mgn_t">
本人了解相关保密法规制度，知悉并承担相应的BM义务和法律责任。且现郑重承诺：<br/>
一、认真遵守国家保密法律、法规和公司BM规章制度，履行保密义务。<br/>
二、不以任何方式泄露本人所接触和知悉的公司或国家秘密事项。<br/>
三、全部清退个人持有的各类涉及公司和国家SM事项相应的秘密载体。<br/>
四、对本人在工作中涉及到的事项确定为公司秘密事项，在离岗位后绝不以任何方式向外泄露。<br/>
五、本人承认在公司作期间接触的任何秘密事项及技术属公司所有。本人不在SM事项的BM期间内复制、使用秘密事项和技术。<br/>
六、本人已知悉的国家和公司秘密，因个人故意或不当行为导致的窃取、刺探、非法提供、过失泄露等违法行为，应承担相应的刑事责任。<br/>
七、本人未经公司审核批准，不得擅自发表涉及公司尚未公开工作内容的文章、着述。<br/>
八、本人自愿接受脱密期管理，自年月日至年月日，并服从有关部门的BM监管。<br/>
本人违反上述承诺，自愿承担相应的法律后果。</blockquote>
</div>
    <p  style="text-align:center">
        <label>承诺人签字：</label><input type="text"  class="map_input"/><label >签字日期：</label><input type="date" class="find_input"></p> 
    </table>
    </p>
    
    <p class="book_foot"><input type="submit" value="签订" style="background-color:green" onclick="window.location.href='LGCJG.html'"/></p>
</div>

<script  src="js/jquery/jQuery-2.2.0.min.js"></script>
<script src="js/editor/js/froala_editor.min.js"></script>

<script src="js/editor/js/plugins/tables.min.js"></script>
<script src="js/editor/js/plugins/lists.min.js"></script>
<script src="js/editor/js/plugins/colors.min.js"></script>
<script src="js/editor/js/plugins/media_manager.min.js"></script>
<script src="js/editor/js/plugins/font_family.min.js"></script>
<script src="js/editor/js/plugins/font_size.min.js"></script>
<script src="js/editor/js/plugins/block_styles.min.js"></script>
<script src="js/editor/js/plugins/video.min.js"></script>

<script>
    $(function(){
        $('#editor').editable({inlineMode: false, alwaysBlank: true})
    });
</script>
</body>
</html>
