<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>上岗保密责任书</title>


    <link href="css/all.css" rel="stylesheet" type="text/css">
    <link href="js/editor/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="js/editor/css/froala_editor.min.css" rel="stylesheet" type="text/css">
</head>

<body style="background-color: #e6ecf5">
	<div class="div_tab01" style="background-color:#FFFFFF">
    <p class="p_but">
        <i class="down_i" ></i><a href="#" class="add_a">导出</a>
        <i class="print_i" ></i><a href="#" class="add_a">打印</a>
   </p>
<p>
    <table data-url="json/data_alae_list.json" id="table" class="table_style" style="margin: 0 auto" ></table>
</p>
</div>

<div class="book_con01">

    <h1 class="book_h01">上岗保密责任书</h1>
    
    <p class="book_p">
        <table class="book_table" border="1" cellpadding="10">
<div id="shicdiv">
<blockquote class="mgn_t">为了确保国家秘密的安全，维护国家的安全和利益，根据《中华人民共和国保守国家秘密法》及其实施办法和相关保密法律法规，特签订保密责任书。<br/>
一、甲方责任：<br/>
1.对乙方是否具备从事SM事项工作的资格进行审查，确定乙方SM岗位和密级；<br/>
2.负责组织对乙方进行BM法律法规、规章制度的宣传、教育和培训；<br/>
3.对乙方遵守BM法律法规、BM制度以及履行BM义务和开展BM工作的情况进行监督、检查和指导；<br/>
4.为乙方开展BM工作提供必要的支持和保障；<br/>
5.对乙方在BM工作中的突出表现和重大贡献，给予一定的表彰奖励；<br/>
6.对乙方违反BM法律法规和管理制度的行为，给予相应的惩处。<br/>
二、乙方责任：<br/>
1.遵守国家有关BM法律法规、上级机关BM要求和公司BM制度，自觉履行SM人员义务；<br/>
2.积极参与公司组织的BM教育和培训，增强自身BM意识、提高BM技能；<br/>
3.在BM工作中认真履行岗位BM职责，严格执行BM制度，认真细致做好各项BM工作，自觉接受公司的监督、检查和指导；<br/>
4.不得以任何方式泄露所知悉、掌握和管理的国家SM事项；<br/>
5.不得擅自记录、存储、复制、留存国家秘密信息和载体；<br/>
6.未经审查审批，不擅自发表涉及未公开工作内容的文章、着述；<br/>
7.脱离SM岗位时，自觉清退所管理和持有的SM载体、信息设备，自觉接受离岗审查和脱密期管理，继续履行BM承诺。<br/>
三、甲方如有违反责任书内容的，乙方可向甲方上级机关举报；乙方如有违反本责任书内容的，甲方可根据《公司BM监督检查制度》的有关条件给予奖惩。<br/>
四、本责任书一式两份，自签字之日起生效。甲方、乙方各持一份。</blockquote>
</div>
    <p  style="text-align:center">
        <label>乙方签字：</label><input type="text"  class="map_input"/><label >签字日期：</label><input type="date" class="find_input"></p> 
    <p  style="text-align:center">
        <label>甲方签字：</label><input type="text"  class="map_input"/><label >签字日期：</label><input type="date" class="find_input"></p>   
    </table>
    </p>
    
    <p class="book_foot"><input type="submit" value="签订并保存" style="background-color:green" onclick="window.location.href='SGZRSJG.html'"/></p>
</div>

<script  src="js/jquery/jQuery-2.2.0.min.js"></script>
<script src="js/editor/js/froala_editor.min.js"></script>

<script src="js/editor/js/plugins/tables.min.js"></script>
<script src="js/editor/js/plugins/lists.min.js"></script>
<script src="js/editor/js/plugins/colors.min.js"></script>
<script src="js/editor/js/plugins/media_manager.min.js"></script>
<script src="js/editor/js/plugins/font_family.min.js"></script>
<script src="js/editor/js/plugins/font_size.min.js"></script>
<script src="js/editor/js/plugins/block_styles.min.js"></script>
<script src="js/editor/js/plugins/video.min.js"></script>

<script>
    $(function(){
        $('#editor').editable({inlineMode: false, alwaysBlank: true})
    });
</script>
</body>
</html>
